<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div lang="und" dir="auto">
        
        <div style="margin: 0px auto; max-width: 600px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td style="direction: ltr; font-size: 0px; padding: 20px 0px; text-align: center; border-collapse: collapse;">
                            
                            <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                <div style="width: 612px; margin: 0px auto;">
                                            <div style="width: 100%; margin: 0px auto;">
                                                <div style="width: 100%; margin: 0px auto;">
                                                    <div style="display: flex; padding: 36px 0px 0px; margin-bottom: 36px;">
                                                        <img src="https://drive.google.com/uc?id=1FEX1VRcjAVXUH-jgs76GXCgBfNNySdP1" alt="" style="border: 0px; height: 46px; line-height: 100%; outline: none; text-decoration: none;">
                                                    </div>
                                                </div>
                                            </div>
                                    </div><table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top; border-collapse: collapse;" width="100%">
                                    <tbody>
                                        </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div style="margin: 0px auto; max-width: 600px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td style="direction: ltr; font-size: 0px; padding: 20px 0px; text-align: center; border-collapse: collapse;">
                            
                            <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                <div style="font-size: 20px; text-align: center; font-weight: 700; font-family: Arial, Helvetica, sans-serif; color: rgb(46, 60, 96);">
                                            <img src="https://s3-sgn10.fptcloud.com/fsel/Files/25640010_message_40_1_1_1713325266.png" alt="" style="margin-top: 15px; margin-bottom: 15px; width: 223px; border: 0px; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                            <div style="margin: 10px 10px 20px;"><span>XIN CHÀO</span></div>
                                            <div style="margin: 10px;">
                                                <span style="font-weight: 100; font-size: 18px;">Website bán giày G4 xin gửi đến bạn mã xác thực OTP</span>
                                            </div>
                                            <div style="margin: 0px 10px;">
                                                <span style="font-weight: 700; font-size: 18px;">Mã OTP chỉ có giá trị hiệu lực trong thời gian 3 phút</span>
                                            </div>
                                            <div style="margin: 35px 10px;">
                                                <div style="height: 52px; width: 200px; margin: auto; line-height: 52px; text-align: center; background-color: rgb(237, 242, 255); border-radius: 5px; border: 1px solid rgb(206, 218, 248); letter-spacing: 5px;">
                                                    <span style="font-size: 22px;">${otp}</span>
                                                </div>
                                            </div>
                                            <div style="margin: auto auto 25px;">
                                                <span style="font-weight: 100; font-size: 18px;">Xin chân thành cảm ơn!</span>
                                            </div>
                                            <div style="width: 100%; margin: auto;">
                                                <!--<img src="https://s3-sgn10.fptcloud.com/fsel/Images/FooterMail_8777_1719375624709.png" alt="" style="width: 100%; border: 0px; height: auto; line-height: 100%; outline: none; text-decoration: none;">-->
                                            </div>
                                        </div><table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top; border-collapse: collapse;" width="100%">
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
  </body>
</html>