<div style="margin: 0 auto; max-width: 600px; font-family: sans-serif; color: #2e3c60; border: 1px solid #edf2ff; border-radius: 10px; overflow: hidden;">
    <div style="background-color: #f6f9ff; padding: 20px; text-align: center;">
      <img
        alt="Logo"
        src="https://drive.google.com/uc?id=1FEX1VRcjAVXUH-jgs76GXCgBfNNySdP1"
        style="border: 0; height: 46px; width: 46px;"
      />
      <h2 style="margin: 10px 0; font-size: 24px;">Cảm ơn bạn đã tin tưởng và sử dụng sản phẩm của chúng tôi!</h2>
      <p style="font-size: 18px; font-style: italic;">Đây là thông báo về trạng thái hóa đơn của bạn:</p>
    </div>
  
    <table style="width: 100%; border-collapse: collapse; margin: 20px 0;">
      <tr>
        <td style="padding: 10px; border: 1px solid #edf2ff; text-align: center; font-weight: bold; color: #2c5fd3;">
          <span style="font-weight: bold;">Trạng thái hóa đơn: </span>
          <span style="color: #2c5fd3;">${InvoiceStatus}</span>
        </td>
      </tr>
    </table>
  
    <div style="text-align: center; margin: 20px 0; font-size: 15px;">
      <p>Nếu bạn gặp bất kỳ vấn đề nào về đơn hàng này, vui lòng liên hệ với chúng tôi qua:</p>
      <p>
        <span style="font-weight: bold; margin-right: 5px;">Email:</span>
        <span style="text-decoration: underline; padding-right: 10px;">toannhph23989@fpt.edu.vn</span>
        <span style="font-weight: bold; margin-right: 5px;">Hotline:</span>
        <span style="text-decoration: underline;">0919855766</span>
      </p>
    </div>
  </div>